.modal-content {
  border-radius: 1.2rem!important;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
  justify-content: space-evenly;
}
.btn-light {
  background-color: white !important;
}
.btn-light:focus {
  box-shadow: none !important;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.bootstrap-select .dropdown-toggle {
  outline: none !important;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder {
  border-color: #d3d9df;
}
.form-control:focus {
  border-color: #54AC6D !important;
  box-shadow: 0 0 0 0.2rem rgb(8 122 23 / 25%) !important;
}
.btn-add-client{
  border-color: white;
  background-color: white;
}
.btn-add-client:hover{
  border-color: #54AC6D;
}

.dropdown-item.active {
  background-color: #54AC6D !important;
}

.dropdown-item:active {
  background-color: #54AC6D !important;
}

.dropdown-item.disabled.active {
  background-color: white !important;
}

.bs-searchbox input {
  padding-left: 2rem;
}

.select-search-icon {
  position: absolute !important;
  top: 23px;
  left: 17px;
  color: dimgray;
}